VSTest/_ReSharper.VSTest/BuildScriptCache/.crc
VSTest/_ReSharper.VSTest/ConditionalNames/.crc
VSTest/_ReSharper.VSTest/NamedArguments/.crc
VSTest/_ReSharper.VSTest/RecentItems/RecentFiles.dat
VSTest/_ReSharper.VSTest/TodoItems/.crc
VSTest/_ReSharper.VSTest/WordIndex/.crc
VSTest/obj/x86/Debug/VSTest.pdb
